<h2 id="contact-header">My Contacts</h2>

<ul id="contact-list">
 <li>
  <%= link_to("https://github.com/crichardson90", target: "_blank") do %>
    My GitHub
    <%= image_tag("github_logo", id: "github-img") %>
    <% end %>
</li>

 <li>
  <%= link_to("https://www.facebook.com/coty.richardson.39", target: "_blank") do %>
    My Facebook
    <%= image_tag("facebook_logo", id: "facebook-img") %>
    <% end %>
</li>

 <li>
  <%= link_to("mailto:cotyjrichardson1990@gmail.com", target: "_blank") do %>
    My Email
    <%= image_tag("gmail_logo", id: "gmail-img") %>
    <% end %>
</li>

 <li>
  <%= link_to("https://www.twitch.tv/richyrichtv", target: "_blank") do %>
    My Twitch Channel
    <%= image_tag("twitch_logo", id: "twitch-img") %>
    <% end %>
</li>
</ul>